ul,li {
  list-style: revert;
}

ul > li:first-child {
  margin-top: 4px;
}

ul > li:not(:last-child) {
  margin-bottom: 4px;
}

ul > li:last-child {
  margin-bottom: 12px;
}

ol {
  list-style: decimal;
}